<h2>List</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Recipename</th>
  </tr>
  {{#each recipesDatabase}} 
  {{!-- {{a getAll()-lal lekért lista (áthoztuk a kontrollerből)}} --}}
  {{!-- {{pörgeti a tömböt, és ha a tömbben objektumok vannak,
  akkor elérhető az object propertije}} --}}
  <tr>
    <td>{{id}}</td>
    <td><a href='/recipes/{{id}}'>{{recipename}}</a></td>
  </tr>
  {{/each}}
</table>